* {
  box-sizing: border-box;
  --backdrop: #1e2428;
  --white: 255, 255, 255;
  --black: 0, 0, 0;
  --yellow: 255, 255, 0;
  --blue: 108, 174, 221;
  --red: 221, 0, 49;
  --gray: 192, 192, 192;
  --brown: 165, 42, 42;
  --purple: 173, 120, 220;
  --green: 65, 184, 131;
  --square-alpha: 0.8;
  --square-glow: 0 0 0.3em 0.25em;
  --glow-alpha: 0.4;
  --edge-color: 255, 255, 255;
}
#app {
  background-color: var(--backdrop);
  height: 100vh;
  width: 250vh;
  background-size: 100%;
  background-image: url("https://wallpaperstudio10.com/static/wpdb/wallpapers/3840x2160/173012.jpg");
}
.main {
  height: 100%;
  transform-style: preserve-3d;
  perspective: 1200px;
  user-select: none;
}
.northWest {
  position: absolute;
  top: calc(50% -2em);
  left: calc(50% + 0em);
}
.north {
  position: absolute;
  top: calc(50% - 1em);
  left: calc(50% + -1em);
}
.northEast {
  position: absolute;
  top: calc(50% - 2em);
  left: calc(50% = 0em);
}
.south {
  position: absolute;
  top: calc(50% + 1em);
  left: calc(50% - 1em);
}
.east {
  position: absolute;
  top: calc(50% - 1em);
  left: calc(50% - 3em);
}
.southEast {
  position: absolute;
  top: calc(50% - 0em);
  left: calc(50% + 0em);
}
.west {
  position: absolute;
  top: calc(50% - 1em);
  left: calc(50% + 1em);
}
.southWest {
  position: absolute;
  top: calc(50% + 0em);
  left: calc(50% + 0em);
}

.cube {
  height: 1em;
  width: 1em;
  margin: 0.5em;
  transform-style: preserve-3d;
  transition: all 1000ms cubic-bezier(0.4, -0.5, 0.4, 1.5);
}
.container {
  font-size: calc(160px * 0.5);
  transform-style: preserve-3d;
  transition: transform 400ms 600ms cubic-bezier(1, -0.22, 0.56, 1.9),
    top 600ms cubic-bezier(0.95, 0.01, 0.64, 0.96),
    left 600ms cubic-bezier(0.95, 0.01, 0.64, 0.96);
}
.container:hover {
  cursor: pointer;
}
.container:focus {
  outline: none;
  transform: translateZ(2em) scale(1.5);
  left: calc(50% - 1em);
  top: calc(50% - 1em);
}
.color {
  width: 0;
  height: 0;
}
.blue {
  background-color: rgba(var(--blue), var(--square-alpha));
  box-shadow: var(--square-glow) rgba(var(--blue), var(--glow-alpha));
}
.red {
  background-color: rgba(var(--red), var(--square-alpha));
  box-shadow: var(--square-glow) rgba(var(--red), var(--glow-alpha));
}
.black {
  background-color: rgba(var(--black), var(--square-alpha));
  box-shadow: var(--square-glow) rgba(var(--black), var(--glow-alpha));
}
.white {
  background-color: rgba(var(--white), var(--square-alpha));
  box-shadow: var(--square-glow) rgba(var(--white), var(--glow-alpha));
}
.brown {
  background-color: rgba(var(--brown), var(--square-alpha));
  box-shadow: var(--square-glow) rgba(var(--brown), var(--glow-alpha));
}
.yellow {
  background-color: rgba(var(--yellow), var(--square-alpha));
  box-shadow: var(--square-glow) rgba(var(--yellow), var(--glow-alpha));
}
.gray {
  background-color: rgba(var(--gray), var(--square-alpha));
  box-shadow: var(--square-glow) rgba(var(--gray), var(--glow-alpha));
}
.purple {
  background-color: rgba(var(--purple), var(--square-alpha));
  box-shadow: var(--square-glow) rgba(var(--purple), var(--glow-alpha));
}
.green {
  background-color: rgba(var(--green), var(--square-alpha));
  box-shadow: var(--square-glow) rgba(var(--green), var(--glow-alpha));
}
.square {
  position: absolute;
  background-color: inherit;
  border: 0.009375em solid;
  border-color: rgba(var(--edge-color), var(--glow-alpha));
  width: 1em;
  height: 1em;
  box-shadow: inherit;
}

.front {
  transform: translate3d(0, 0, 0.5em);
}
.back {
  transform: translate3d(0, 0, -0.5em);
}
.top {
  transform: translate3d(0, -0.5em, 0) rotateX(90deg);
}
.bottom {
  transform: translate3d(0, 0.5em, 0) rotateX(90deg);
}
.left {
  transform: translate3d(-0.5em, 0, 0) rotateY(90deg);
}
.right {
  transform: translate3d(0.5em, 0, 0) rotateY(90deg);
}
.animation {
  animation: animate 100s linear infinite;
}
.rotateAnimation {
  animation: rotate 300s linear infinite;
}
@keyframes animate {
  0% {
    transform: inherit;
  }
  100% {
    transform: rotateX(360deg) rotateY(180deg) rotateZ(90deg);
  }
}
@keyframes rotate {
  from {
    transform: inherit;
  }
  to {
    transform: rotateZ(-360deg);
  }
}

.fade-in {
  -webkit-animation: fadein 3s;
  -moz-animation: fadein 3s;
  -ms-animation: fadein 3s;
  -o-animation: fadein 3s;
  animation: fadein 3s;
  -webkit-animation-fill-mode: forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
